/* Define some basic styles */
body {
    font-family: Arial, sans-serif;
    background-color: #1bd414;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Style the cat GIF */
img {
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin-left: auto;
    margin-right: auto;
}

